<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>貓咪小百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>養貓新手上路須知</h1>
<p>[養貓新手上路 第一篇] 認養貓咪的觀念..<p>
<p>認養前，我們的10個約定：<p>
<p>★請給我一點時間，讓我瞭解你對我的要求<p>
<p>★請信任我，這是我幸福的泉源<p>
<p>★請不要忘記，我也是有血有肉的<p>
<p>★在責罵前，請先試著瞭解我<p>
<p>★請偶爾對我說說話，雖然我聽不懂，但我懂你的心<p>
<p>★請不要打我，別忘了，我認真起來是比你還強壯的<p>
<p>★請好好照顧我，當我逐漸變老時<p>
<p>★請記住，你有你的工作、娛樂和朋友，但我就只有你<p>
<p>★請想想，我的生命有10~15年，遺棄我會是對我最大的傷害<p>
<p>★請在我最終離去前陪著我，這是我最後的心願。最後，請記得，我愛你。<p>

<p>另外請注意：<p>
<p>1.如家中已有貓咪者，家中的貓是否已完成疫苗注射？<p>
<p>2.隔離籠或小房間已準備妥當？<p>
<p>3.貓咪的水盆、飼料、貓砂盆是否已準備？<p>
<p>4.外出提籠是否已準備？<p>
<p>5.家俱可能會受傷的這件事，是否已準備包容?<p>
<br>
<p><a href={% url 'main:main' %}>回首頁</a></p>
</body>
</html>