<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>貓咪小百科</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<CENTER><font color="顏色的單字"><h1>常見 Q＆A</h1></font><CENTER>
<font color="red"><p>貓咪一定要吃貓糧嗎？<p></font>
<p>❤ 對貓咪來說，乾貓糧是貓營養的第一本源且不須其他特別補充品。<p>
<p>❤ 乾糧便宜、方便，也可維持貓身體營養。<p>
<p>❤ 另外，乾糧可自由餵食，不會造成浪費。<p>
<p>❤ 如有特殊需要，也要聽醫生的建議為貓咪供特別補給品，給貓吃得太雜並不是什麼好事。<p>
<font color="red"><p>貓需要洗澡嗎？<p></font>
<p>❤ 貓如果沒經過適當整理，會產生嚴重脫毛或吞大量毛球，因此，需要每天清理、梳毛。<p>
<p>❤ 當一發現貓身上有跳蚤時，需要先用除蚤梳，去除跳蚤，然後再洗澡、噴除蚤劑，或者給貓咪服用，治療跳蚤的口服藥，但是只適用於6星期以上大的貓使用，一次可維持30天。<p>
<p>❤ 至於環境控制要保持居家環境整潔，每一個角落都要注意到，如此就可避免了。<p>
<font color="red"><p>貓咪飼養在室外或室內？<p></font>
<p>❤ 「我應該讓我家的貓出去呼吸新鮮的空氣嗎？」我通常回答：「如果您想讓您的貓暴露在車中、流浪狗中、疾病感染、流浪貓、毒藥和貓的陌生環境中，那就讓它出去吧！」<p>
<p>❤其實貓會花很多時間睡覺(一天18、19個小時)，許多事情都可以安排在小房間裡做，適當運動和娛樂都可安排在裡面。<p>
<font color="red"><p>貓需打什麼樣的疫苗？<p></font>
<p>❤ 疫苗能促使貓產生抵抗力以免被感染。<p>
<p>❤ 基本上有四種疫苗，常見三合一混合疫苗，可抗很很多種呼吸道、消化道、全身性疫苗感染；FELY，可阻止貓感染貓白血病病毒；FIP，可對抗貓傳染性腹膜炎病毒；狂犬病疫苗。<p>
<p>❤ 幼貓、成貓都需按時注射這些疫苗，增加抵抗力，但打疫苗並不會百分之百安全，疫苗只能提供最好的預防。<p>
<font color="顏色的單字"></font><p>貓咪喝牛奶好嗎？<p>
<p>❤ 其實許多貓主人知道餵貓喝牛奶是不大好的事情，卻又認為只有牛奶才能給貓咪豐富的營養。<p>
<p>❤ 我會明確的告訴那些貓主人，由於貓對乳糖耐性的問題，每天早上讓貓喝牛奶會讓它腸胃不舒服。<p>
<br>
<p><a href={% url 'main:main' %}>回首頁</a></p>
</body>
</html>